#sp-layer{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#000;
    opacity:0.5;
    text-align:center;
    font-size:45px;
    color:#1cc;
    text-shadow:0 1px 8px #1cc, 0 -1px 8px #1cc;
    padding-top:150px;
    letter-spacing: 15px;
}

.sp-hidden-box{
    display:none;
}

/**----------------------------------------------
 sp2-common-msg (success / error)
----------------------------------------------*/
#sp2-common-msg{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  display: none;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
}
#sp2-common-msg i{
  color: inherit;
  font-size: 35px;
  vertical-align: middle;
  padding:0 12px;
}

.sp2-success-msg-A{
    background-color: rgb(203, 235, 245);
    border-color: rgb(91, 192, 222);
    color: navy;
    animation: msgEffectA 0.2s;
    animation-iteration-count: 1;
}
.sp2-success-msg-B{
    background-color: rgb(203, 235, 245);
    border-color: rgb(91, 192, 222);
    color: navy;
    animation: msgEffectB 0.2s;
    animation-iteration-count: 1;
}
.sp2-error-msg-A{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    animation: msgEffectA 0.2s;
    animation-iteration-count: 1;
}
.sp2-error-msg-B{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    animation: msgEffectB 0.2s;
    animation-iteration-count: 1;
}
@keyframes msgEffectA {
  0%   { transform:  translate(0px,-500px);}
  100%  { transform:  translate(0px, 0px);}
}
@keyframes msgEffectB {
  0%   { transform:  translate(0px,-500px);}
  100%  { transform:  translate(0px, 0px);}
}


/**----------------------------------------------
 color picker (fore/back)
----------------------------------------------*/
#sp-color-picker-div {
    position: absolute;
    top: 121px;
    left: 177px;
    background-color: #fff;
    border: solid 1px #ccc;
    display: none;
    white-space: nowrap;
    padding: 10px;
    .sp-color-picker-panel {
        border: none !important;
        display: inline !important;
        height: 18px !important;
        line-height: 16px !important;
        padding: 0;
        margin: 0;
        width: 18px !important;
        z-index: 100;
        margin-left: 3px;
        &:hover {
            outline: 2px solid rgba(0, 52, 255, 0.8);
        }
    }
    .sp-color-picker-title {
        margin: 6px 0 12px;
        color: #000;
    }
}


/*
.sp-exec-cmd-change option,.sp-exec-cmd-change option:hover,.sp-exec-cmd-change option:active
    {
    color: #fff;
    background-color: #666;
}
*/


/**----------------------------------------------
sp-input-form-div (common div)
----------------------------------------------*/
.sp-input-form-div {
    display:inline-block;
    color: #000;
    resize: both;
/*     border-radius: 6px; */
    outline: 0 none #333;
    box-shadow: rgba(42, 42, 42, 0.8) 0px 0px 15px 9px;
    .sp-input-form-header {
        color: #fff;
        line-height: 20px;
        font-weight: bold;
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #000;
/*         background-image: linear-gradient(rgb(253, 253, 253), rgb(221, 221, 221)); */
    }
    .sp-input-form-main {
        color: #000;
        background-color: #fff;
/*         background-color: rgb(240, 240, 240); */
/*         background-image: linear-gradient(rgb(253, 253, 253), rgb(221, 221, 221)); */
        padding:10px;
        text-align:center;
    }
    .sp-input-form-footer {
        color: #000;
        text-align: center;
        padding: 10px;
/*         border-top: 1px solid #c5c5c5; */
        background-color: #fff;
/*         background-color: rgb(255, 255, 255); */
/*         background-image: linear-gradient(rgb(253, 253, 253), rgb(221, 221, 221)); */
    }
    table{
        width:100%;
    }
    td{
        color:#000;
        padding:8px;
        text-align:center;
    }
}


/**----------------------------------------------
 insert-(image/bg-image/link/replace-string) position
----------------------------------------------*/
#sp-input-div-image
,#sp-input-div-bg-image
,#sp-input-div-replace-string
,#sp-input-div-link
,#sp-input-div-timer
,#sp-input-div-form-info
{
position: absolute;
top: 18%;
left: 27%;
display: none;
}
#sp-input-div-tags{
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 11%;
    display: none;
    textarea{
        font-size:10px;
    }
    .sp-input-form-main td{
        text-align:left;
    }
    .sp2-code{
        width: 550px;
        height: 135px;
        color: #000;
        background-color: #f7f7f7;
        padding: 5px;
        font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
        -webkit-user-select: initial;
        font-size: 85%;
    }
    span, label{
        color: #000;
    }

}


