
.sp-iframe-body div:not(.ignore)
,.sp-iframe-body p:not(.ignore)
,.sp-iframe-body h1:not(.ignore)
,.sp-iframe-body h2:not(.ignore)
,.sp-iframe-body h3:not(.ignore)
,.sp-iframe-body h4:not(.ignore)
,.sp-iframe-body h5:not(.ignore)
,.sp-iframe-body h6:not(.ignore)
,.sp-iframe-body table:not(.ignore)
,.sp-iframe-body td:not(.ignore)
,.sp-iframe-body ol:not(.ignore)
,.sp-iframe-body ul:not(.ignore)
,.sp-iframe-body li:not(.ignore)
,.sp-iframe-body img:not(.ignore)
,.sp-iframe-body strong:not(.ignore)
,.sp-iframe-body span:not(.ignore)
{
    outline: dotted 2px #ccc;
    outline-offset:-2px;
    /*padding: 7px;*/
}

img{
min-height: 1em;
min-width: 1em;
}
img.sp-iframe-body{
    outline:2px dashed #FF5959;
    outline-offset:-2px;
}
img.spEdit{
cursor: nwse-resize;
}

/* edit main class ----------------------------------------*/
.targetOutline:not(.ignore):not(.spEdit) {
    outline:double 2px #FF5959 !important;
    outline-offset:-2px;/*これ入れないとボーダー見えないときある*/
    /*box-shadow: 0px 0px 8px 0px red !important;*/

    /* z-index: 100000000000000000 !important; これがあるとhoverすると画面消える場合あり*/
}
.spEdit {
    ime-mode: active !important;
    outline:double 2px #06c !important;
    outline-offset:-2px;/*これ入れないとボーダー見えないときある*/
    /* z-index: 100000000000000000 !important; これがあるとhoverすると画面消える場合あり*/
    /*box-shadow: 0px 0px 8px 2px #06c !important;*/
    /*
overflow:hidden;
resize:both;
*/
}

.targetOutline.widthHeightMax{
    outline:5px solid red !important;
    outline-offset:-5px;
}
.spEdit.widthHeightMax{
    outline:5px solid #06c !important;
    outline-offset:-5px;
}


/* ipkMenu ----------------------------------------*/
#ipkMenu {
    /*width:140px*/
    display: none;
    height: auto;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(255, 105, 111);
    color: white;
    padding: 5px 8px;
    text-align: center;
    z-index: 100000000;
    position: absolute;
    outline: none;
    white-space: nowrap;
    line-height: 21px;
}
#ipkMenu img {
    vertical-align: sub;
}
#ipkMenu table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
}
#ipkMenu td {
    color: white;
    font-size: small;
    font-weight: bold;
    padding: 2px 4px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    line-height: normal;
}
#ipkMenu:after {
  content: " ";
}

.ipkMenuLayoutExplain {
    background-color: purple;
}
.ipkMenuItemExplain {
    background-color: #ffaf46;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaf46),
        color-stop(100%, #e78404));
    background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
}
.ipkMenuDelete {
    background-color: brown;
    white-space: nowrap;
}
.ipkMenuCopy {
    background-color: #3a7ff9;
    white-space: nowrap;
}
.ipkMenuMove {
    background-color: pink;
    white-space: nowrap;
}
.ipkMenuAddSpacing {
    background-color: #6bb327;
    white-space: nowrap;
}
.ipkFocus {
    border: 2px solid goldenrod;
}
.ipkMenuCmdBtn{
    cursor: pointer !important;
}



/*drag and drop ----------------------------------------*/
.sp-drop-here{
position: relative;
border: none;
background-color: red;
color: white;
padding: 5px;
font-size:12px;
font-weight: bold;
opacity:0.5;
}
.sp-drag-enter-item{
    border: 1px dotted red !important;
}
.sp-drop-effect{
 /*    -webkit-animation-duration: 1s;
    -webkit-animation-name: dropEffect;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate; */
}
@-webkit-keyframes dropEffect {
    from {
         opacity: 0.5;
         background-color:red;
         color:#fff;
/*         font-size:100px; */
/*         border:10px solid red; */
    }
    to {
         opacity: 1;
         background-color:inherit;
         color:inhert;
/*         font-size:inherit; */
/*         border:inherit; */
    }
}



/*placeholder class ----------------------------------------*/
.sp-replace-span{
  background-color: rgb(255, 255, 124);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
  color: rgb(255, 255, 124);
  display: inline-block;
  text-align: center;
/*
  overflow: auto;
  resize: both;
*/
}
.sp-replace-span[data-replace-type="video"]{
  background-image: url(../img/video_play_icon.png);
  width: 560px;
  height: 315px;
  max-width: 100%;
  max-height: 100%;
}
.sp-replace-span[data-replace-type="script"]{
  background-image: url(../img/js_icon.png);
  width: 40px;
  height: 40px;
}



.ipkMenuCopyAnime {
  animation: ipkMenuCopyAnime 0.5s;
  animation-iteration-count: 1;
  border:none;
}
@keyframes ipkMenuCopyAnime {
  0%   { transform:  translate(0px, -1500px);border:double 21px pink;}
  100%  { transform:  translate(0px, 0px);border:double 21px red;}
}


/* SP1 compatible */
.skeSpacingDefault {
  visibility: visible !important;/* show editting only */
  width: 50px;
  margin: 2px auto;
  text-align: center;
  color: #000;
  min-height: 1em;
  max-height: 28px;
  border: 2px dotted #ccc;
  box-sizing: border-box;
}